/*.quill-button {
    padding: 12px 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &__large { height: 48px; }

    &__medium { height: 40px; }

    &__small { height: 32px; }

    &__primary {
        background: #E10098;
        color: #fff;
        border: none;

        &:hover {
            background-color: #C20083;
        }
        &:disabled {
            background-color: #FF87D8;
        }
    }

    &__secondary {
        background: #fff;
        color: rgba(225, 0, 152, 1);
        border: 1px solid rgba(225, 0, 152, 1);

        &:hover {
            color: rgba(194, 0, 131, 1);
            border: 1px solid rgba(194, 0, 131, 1)
        }
        &:disabled {
            color: rgba(255, 135, 216, 1);
            border: 1px solid rgba(255, 135, 216, 1)
        }
    }

    &__tertiary {
        background: #fff;
        color: rgba(173, 168, 168, 1);
        border: 1px solid rgba(173, 168, 168, 1);

        &:hover {
            color: rgba(51, 51, 51, 1);
            border: 1px solid rgba(51, 51, 51, 1);
        }
        &:disabled {
            color: rgba(216, 216, 216, 1);
            border: 1px solid rgba(216, 216, 216, 1)
        }
    }

    &__primary-as-text {
        border: none !important;
        background-color: #fff !important ;
        color: #E10098;
        &:hover:not(:disabled) {
            text-decoration: underline;
            color: #C20083;
        }
        &:disabled {
            color: #FF87D8;
        }
    }

    &__secondary-as-text {
        border: none !important;
        background-color: #fff !important ;
        color: rgba(225, 0, 152, 1);;
        &:hover:not(:disabled) {
            text-decoration: underline;
            color: #C20083;
        }
        &:disabled {
            color: #FF87D8;
        }
    }

    &__secondary-as-text {
        border: none !important;
        background-color: #fff !important ;
        color: #E10098;
        &:hover:not(:disabled) {
            text-decoration: underline;
            color: rgba(194, 0, 131, 1);
        }
        &:disabled {
            color: rgba(255, 135, 216, 1);
        }
    }

    &__tertiary-as-text {
        border: none !important;
        background-color: #fff !important ;
        color: rgba(173, 168, 168, 1);
        &:hover:not(:disabled) {
            text-decoration: underline;
            color: rgba(51, 51, 51, 1);
        }
        &:disabled {
            color: rgba(216, 216, 216, 1);
        }
    }
}*/

.quill-button {
    padding: 12px 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.quill-button__large {
    height: 48px;
}
.quill-button__medium {
    height: 40px;
}
.quill-button__small {
    height: 32px;
}
.quill-button__primary {
    background: #e10098;
    color: #fff;
    border: none;
}
.quill-button__primary:hover {
    background-color: #c20083;
}
.quill-button__primary:disabled {
    background-color: #ff87d8;
}
.quill-button__secondary {
    background: #fff;
    color: rgba(225, 0, 152, 1);
    border: 1px solid rgba(225, 0, 152, 1);
}
.quill-button__secondary:hover {
    color: rgba(194, 0, 131, 1);
    border: 1px solid rgba(194, 0, 131, 1);
}
.quill-button__secondary:disabled {
    color: rgba(255, 135, 216, 1);
    border: 1px solid rgba(255, 135, 216, 1);
}
.quill-button__tertiary {
    background: #fff;
    color: rgba(173, 168, 168, 1);
    border: 1px solid rgba(173, 168, 168, 1);
}
.quill-button__tertiary:hover {
    color: rgba(51, 51, 51, 1);
    border: 1px solid rgba(51, 51, 51, 1);
}
.quill-button__tertiary:disabled {
    color: rgba(216, 216, 216, 1);
    border: 1px solid rgba(216, 216, 216, 1);
}
.quill-button__primary-as-text {
    border: none !important;
    background-color: #fff !important;
    color: #e10098;
}
.quill-button__primary-as-text:hover:not(:disabled) {
    text-decoration: underline;
    color: #c20083;
}
.quill-button__primary-as-text:disabled {
    color: #ff87d8;
}
.quill-button__secondary-as-text {
    border: none !important;
    background-color: #fff !important;
    color: rgba(225, 0, 152, 1);
}
.quill-button__secondary-as-text:hover:not(:disabled) {
    text-decoration: underline;
    color: #c20083;
}
.quill-button__secondary-as-text:disabled {
    color: #ff87d8;
}
.quill-button__secondary-as-text {
    border: none !important;
    background-color: #fff !important;
    color: #e10098;
}
.quill-button__secondary-as-text:hover:not(:disabled) {
    text-decoration: underline;
    color: rgba(194, 0, 131, 1);
}
.quill-button__secondary-as-text:disabled {
    color: rgba(255, 135, 216, 1);
}
.quill-button__tertiary-as-text {
    border: none !important;
    background-color: #fff !important;
    color: rgba(173, 168, 168, 1);
}
.quill-button__tertiary-as-text:hover:not(:disabled) {
    text-decoration: underline;
    color: rgba(51, 51, 51, 1);
}
.quill-button__tertiary-as-text:disabled {
    color: rgba(216, 216, 216, 1);
}